<!DOCTYPE html>
<html>
<body>

<h1>Hello world!!!</h1>

<font color="gold">Just temp var: {{temp_var}}

<hr>
<p>Server Host name: {{ ansible_hostname }}</p>
<p>Server Os family: {{ ansible_os_family }}</p>
<p>Server ip address: {{ ansible_default_ipv4.address }}</p>
<hr>

<p>:p</p>

<img src="picture.jpg"/>
<img src="puffin.jpg"/>


</body>
</html>
